body, html {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #242222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    background-image: url("img/bg.jpg");
    background-size: cover;
}

::-webkit-scrollbar { 
    display: none; 
}

.top-buttons {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #3b78e7;
    box-shadow: 0px 0px 10px #000;
    z-index: 100;
    font-size: 80px;
    padding: 10px;
    box-sizing: border-box;
}

.top-buttons i { font-size: 30px; padding: 10px 10px; }

.app-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

.main { height: calc(100% - 60px); margin-top: 60px; }

.pc-controls { display: flex; flex-direction: column; height: 100%; }

.favorites-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.text-input {
    height: 80px;
    background-color: #333;
    /*box-shadow: 0px 0px 10px #000;*/
    z-index: 100;
    padding: 20px 20px 0px;
    box-sizing: border-box;
}

.text-input input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    color: #fff;
    height: 60px;
    padding: 10px;
    background-color: #333;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #444;
}

.side-controls { height: 400px; display: flex; flex-direction: row; }

.side-btns {
    width: 80px;
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.side-btns .btn {
    flex: 1;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll { width: 80px; }

.touch-pad {
    flex: 1;
    background-color: #333;
}

.app {
    box-sizing: border-box;
    padding: 4px;
    height: 70px;
    width: 70px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    cursor: pointer;
    margin: 8px;
    box-shadow: 0px 6px 20px #000;
    text-align: center;
}

.app img {
    border-radius: 10px;
}

.volume {
    position: fixed;
    top: 90px;
    left: calc(50% - 50px);
    width: 100px;
    background-color: #000;
    z-index: 200;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shutdown {
    position: fixed;
    top: 90px;
    left: calc(50% - 150px);
    width: 300px;
    background-color: #000;
    z-index: 200;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.shutdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f00;
    border-radius: 10px;
    width: 160px;
    height: 60px;
    margin-bottom: 20px;
}
